**Задание 5: Анализ данных средствами pandas**

1. Создать датафрейм

In [70]:
#%pip install pandas

import pandas as ps

data = [
    {
        'name': 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'age': 29, 'sex':'female'
    },

    {
        'name': 'Navratil, Mr. Michel ("Louis M Hoffman")', 'age': 36.5, 'sex':'male'
    },
    {
        'name': 'Minahan, Miss. Daisy E' , 'age': 33, 'sex':'male'
    }
]

df= ps.DataFrame(data)

print(df)

                                         name   age     sex
0  Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.0  female
1    Navratil, Mr. Michel ("Louis M Hoffman")  36.5    male
2                      Minahan, Miss. Daisy E  33.0    male

2. Загрузить данные из файла:
**titanic_csv.csv**

In [71]:
df_2= ps.read_csv("./titanic_csv.csv", sep =';')
print(df_2)

     PassengerId  Survived  Pclass                                  Name  \
0            454         1       1              Goldenberg, Mr. Samuel L
1            234         1       3        Asplund, Miss. Lillian Gertrud
2            556         0       1                    Wright, Mr. George
3            766         1       1  Hogeboom, Mrs. John C (Anna Andrews)
4            444         1       2             Reynaldo, Ms. Encarnacion
..           ...       ...     ...                                   ...
489          363         0       3       Barbara, Mrs. (Catherine David)
490          447         1       2     Mellinger, Miss. Madeleine Violet
491           95         0       3                     Coxon, Mr. Daniel
492           59         1       2          West, Miss. Constance Mirium
493           33         1       3              Glynn, Miss. Mary Agatha

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0      male  49.0      1      0       17453  89.1042   C92        C
1    female   5.0      4      2      347077  31.3875   NaN        S
2      male  62.0      0      0      113807  26.5500   NaN        S
3    female  51.0      1      0       13502  77.9583   D11        S
4    female  28.0      0      0      230434  13.0000   NaN        S
..      ...   ...    ...    ...         ...      ...   ...      ...
489  female  45.0      0      1        2691  14.4542   NaN        C
490  female  13.0      0      1      250644  19.5000   NaN        S
491    male  59.0      0      0      364500   7.2500   NaN        S
492  female   5.0      1      2  C.A. 34651  27.7500   NaN        S
493  female   NaN      0      0      335677   7.7500   NaN        Q

[494 rows x 12 columns]

3. Загрузите напрямую данные по ссылке:

https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt

In [72]:
df_3 = ps.read_csv('https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt', sep=',')
print(df_3)

     passengerid  survived  pclass  \
0            552         0       2
1            689         0       3
2            605         1       1
3            305         0       3
4            290         1       3
..           ...       ...     ...
495          482         0       2
496          155         0       3
497          851         0       3
498          850         1       1
499           77         0       3

                                             name     sex   age  sibsp  parch  \
0                     Sharp, Mr. Percival James R    male  27.0      0      0
1                 Fischer, Mr. Eberhard Thelander    male  18.0      0      0
2                 Homer, Mr. Harry ("Mr E Haven")    male  35.0      0      0
3               Williams, Mr. Howard Hugh "Harry"    male   NaN      0      0
4                            Connolly, Miss. Kate  female  22.0      0      0
..                                            ...     ...   ...    ...    ...
495              Frost, Mr. Anthony Wood "Archie"    male   NaN      0      0
496                         Olsen, Mr. Ole Martin    male   NaN      0      0
497       Andersson, Master. Sigvard Harald Elias    male   4.0      4      2
498  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1      0
499                             Staneff, Mr. Ivan    male   NaN      0      0

        ticket     fare cabin embarked
0       244358  26.0000   NaN        S
1       350036   7.7958   NaN        S
2       111426  26.5500   NaN        C
3     A/5 2466   8.0500   NaN        S
4       370373   7.7500   NaN        Q
..         ...      ...   ...      ...
495     239854   0.0000   NaN        S
496  Fa 265302   7.3125   NaN        S
497     347082  31.2750   NaN        S
498      17453  89.1042   C92        C
499     349208   7.8958   NaN        S

[500 rows x 12 columns]

4. Объединить датафреймы из п. 2, 3 в один датафрейм, удалить дубликаты
строк.

In [73]:
df_2.columns = df_2.columns.str.lower() 

df_merge = ps.concat([df_2, df_3], ignore_index=True).drop_duplicates()

print(df_merge)

     passengerid  survived  pclass  \
0            454         1       1
1            234         1       3
2            556         0       1
3            766         1       1
4            444         1       2
..           ...       ...     ...
987          445         1       3
988          640         0       3
991          851         0       3
992          850         1       1
993           77         0       3

                                             name     sex   age  sibsp  parch  \
0                        Goldenberg, Mr. Samuel L    male  49.0      1      0
1                  Asplund, Miss. Lillian Gertrud  female   5.0      4      2
2                              Wright, Mr. George    male  62.0      0      0
3            Hogeboom, Mrs. John C (Anna Andrews)  female  51.0      1      0
4                       Reynaldo, Ms. Encarnacion  female  28.0      0      0
..                                            ...     ...   ...    ...    ...
987             Johannesen-Bratthammer, Mr. Bernt    male   NaN      0      0
988                    Thorneycroft, Mr. Percival    male   NaN      1      0
991       Andersson, Master. Sigvard Harald Elias    male   4.0      4      2
992  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1      0
993                             Staneff, Mr. Ivan    male   NaN      0      0

     ticket     fare cabin embarked
0     17453  89.1042   C92        C
1    347077  31.3875   NaN        S
2    113807  26.5500   NaN        S
3     13502  77.9583   D11        S
4    230434  13.0000   NaN        S
..      ...      ...   ...      ...
987   65306   8.1125   NaN        S
988  376564  16.1000   NaN        S
991  347082  31.2750   NaN        S
992   17453  89.1042   C92        C
993  349208   7.8958   NaN        S

[891 rows x 12 columns]

5. Задайть в качестве индекса датафрейма id пассажира. Отсортировать по
индексу (sort_values)

In [74]:
passangreid = 'passengerid'
df_merge_pass = df_merge.set_index(passangreid).sort_values(by=passangreid)


print(df_merge_pass)

             survived  pclass  \
passengerid
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name     sex   age  \
passengerid
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             sibsp  parch            ticket     fare cabin embarked
passengerid
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

6. Отобразить информацию и базовую статистику по датафрейму (info, describe)

In [75]:
print(df_merge_pass.info())

print(df_merge_pass.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       714 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

7. Поменять местами нулевую по порядку строку с элементом с индексом 2 (loc,
iloc).

In [ ]:

df_copy=df_merge_pass.copy()

row_index = 2
row=0

df_merge_pass.iloc[row]=df_copy.loc[row_index]
df_merge_pass.loc[row_index]=df_copy.iloc[row]

print(df_merge_pass)

             survived  pclass  \
passengerid
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name     sex   age  \
passengerid
1            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                                      Braund, Mr. Owen Harris    male  22.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             sibsp  parch            ticket     fare cabin embarked
passengerid
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

8. В столбце Sex заменить female/male на f/m (map)

In [77]:
mapping = {'female': 'f', 'male': 'm'}

df_merge_pass['sex']=df_merge_pass['sex'].map(mapping)

print(df_merge_pass)

             survived  pclass  \
passengerid
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name sex   age  \
passengerid
1            Cumings, Mrs. John Bradley (Florence Briggs Th...   f  38.0
2                                      Braund, Mr. Owen Harris   m  22.0
3                                       Heikkinen, Miss. Laina   f  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)   f  35.0
5                                     Allen, Mr. William Henry   m  35.0
...                                                        ...  ..   ...
887                                      Montvila, Rev. Juozas   m  27.0
888                               Graham, Miss. Margaret Edith   f  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   f   NaN
890                                      Behr, Mr. Karl Howell   m  26.0
891                                        Dooley, Mr. Patrick   m  32.0

             sibsp  parch            ticket     fare cabin embarked
passengerid
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

9. Найти билеты по которым плыло 6 и более человек, отобразите список людей
(groupby, count).

In [78]:
group_ticket = df_merge_pass.groupby('ticket')

gropt = df_merge_pass.groupby('ticket')['name'].count()

print(gropt)

passenger_count = 'passenger_count'

group_ticket_pass = group_ticket['name'].count().reset_index(name=passenger_count)

print(group_ticket_pass)

total_group = group_ticket_pass[group_ticket_pass[passenger_count]>=6]


for index, row in total_group.iterrows():
    ticket = row['ticket']
    passenger_names = df_merge_pass[df_merge_pass['ticket']==ticket]['name'].tolist()
    print(f"Билет {ticket}: {'; '.join(passenger_names)}")

ticket
110152         3
110413         3
110465         2
110564         1
110813         1
              ..
W./C. 6608     4
W./C. 6609     1
W.E.P. 5734    1
W/C 14208      1
WE/P 5735      2
Name: name, Length: 681, dtype: int64
          ticket  passenger_count
0         110152                3
1         110413                3
2         110465                2
3         110564                1
4         110813                1
..           ...              ...
676   W./C. 6608                4
677   W./C. 6609                1
678  W.E.P. 5734                1
679    W/C 14208                1
680    WE/P 5735                2

[681 rows x 2 columns]
Билет 1601: Bing, Mr. Lee; Ling, Mr. Lee; Lang, Mr. Fang; Foo, Mr. Choong; Lam, Mr. Ali; Lam, Mr. Len; Chip, Mr. Chang
Билет 3101295: Panula, Master. Juha Niilo; Panula, Master. Eino Viljami; Panula, Mr. Ernesti Arvid; Panula, Mrs. Juha (Maria Emilia Ojala); Panula, Mr. Jaako Arnold; Panula, Master. Urho Abraham
Билет 347082: Andersson, Mr. Anders Johan; Andersson, Miss. Ellis Anna Maria; Andersson, Miss. Ingeborg Constanzia; Andersson, Miss. Sigrid Elisabeth; Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren); Andersson, Miss. Ebba Iris Alfrida; Andersson, Master. Sigvard Harald Elias
Билет 347088: Skoog, Master. Harald; Skoog, Mrs. William (Anna Bernhardina Karlsson); Skoog, Mr. Wilhelm; Skoog, Miss. Mabel; Skoog, Miss. Margit Elizabeth; Skoog, Master. Karl Thorsten
Билет CA 2144: Goodwin, Master. William Frederick; Goodwin, Miss. Lillian Amy; Goodwin, Master. Sidney Leonard; Goodwin, Master. Harold Victor; Goodwin, Mrs. Frederick (Augusta Tyler); Goodwin, Mr. Charles Edward
Билет CA. 2343: Sage, Master. Thomas Henry; Sage, Miss. Constance Gladys; Sage, Mr. Frederick; Sage, Mr. George John Jr; Sage, Miss. Stella Anna; Sage, Mr. Douglas Bullen; Sage, Miss. Dorothy Edith "Dolly"

10.Найдите людей, которые плыли в одной каюте с людьми из датафрейма из п1

In [79]:
result ={}

for name in df['name']:

    if df_merge_pass[df_merge_pass['name']==name].empty:
                print(f"Пассажир '{name}' не найден в списке.")
                continue  

    cabin= df_merge_pass[df_merge_pass['name'] == name]['cabin'].iloc[0]

    cabin_mates = df_merge_pass[df_merge_pass['cabin']==cabin]

    cabin_mates=cabin_mates[cabin_mates['name']!=name]

    result[name]=cabin_mates

for name, mates in result.items():
    print(f"Сожители {name} (каюта {df_merge_pass[df_merge_pass['name']==name]['cabin'].iloc[0]}): ")
    print('; '.join( mates['name'].tolist()))
    print("--"*10)

Сожители Strom, Mrs. Wilhelm (Elna Matilda Persson) (каюта G6):
Sandstrom, Miss. Marguerite Rut; Strom, Miss. Telma Matilda; Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
--------------------
Сожители Navratil, Mr. Michel ("Louis M Hoffman") (каюта F2):
Navratil, Master. Michel M; Navratil, Master. Edmond Roger
--------------------
Сожители Minahan, Miss. Daisy E (каюта C78):
Minahan, Dr. William Edward
--------------------

11.Добавьте колонку “BirthYear” с годом рождения каждого пассажира.

In [80]:
destroy_year = 1912

df_merge_pass['BirthYear']= destroy_year - df_merge_pass['age']

print(df_merge_pass)

             survived  pclass  \
passengerid
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name sex   age  \
passengerid
1            Cumings, Mrs. John Bradley (Florence Briggs Th...   f  38.0
2                                      Braund, Mr. Owen Harris   m  22.0
3                                       Heikkinen, Miss. Laina   f  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)   f  35.0
5                                     Allen, Mr. William Henry   m  35.0
...                                                        ...  ..   ...
887                                      Montvila, Rev. Juozas   m  27.0
888                               Graham, Miss. Margaret Edith   f  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   f   NaN
890                                      Behr, Mr. Karl Howell   m  26.0
891                                        Dooley, Mr. Patrick   m  32.0

             sibsp  parch            ticket     fare cabin embarked  BirthYear
passengerid
1                1      0          PC 17599  71.2833   C85        C     1874.0
2                1      0         A/5 21171   7.2500   NaN        S     1890.0
3                0      0  STON/O2. 3101282   7.9250   NaN        S     1886.0
4                1      0            113803  53.1000  C123        S     1877.0
5                0      0            373450   8.0500   NaN        S     1877.0
...            ...    ...               ...      ...   ...      ...        ...
887              0      0            211536  13.0000   NaN        S     1885.0
888              0      0            112053  30.0000   B42        S     1893.0
889              1      2        W./C. 6607  23.4500   NaN        S        NaN
890              0      0            111369  30.0000  C148        C     1886.0
891              0      0            370376   7.7500   NaN        Q     1880.0

[891 rows x 12 columns]

12.Добавьте колонку “Companion” с количеством попутчиков в одной каюте с этим
пассажиром.

In [81]:
df_merge_pass['Companion']=df_merge_pass.groupby('cabin')['name'].transform('count')-1

print(df_merge_pass)

             survived  pclass  \
passengerid
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name sex   age  \
passengerid
1            Cumings, Mrs. John Bradley (Florence Briggs Th...   f  38.0
2                                      Braund, Mr. Owen Harris   m  22.0
3                                       Heikkinen, Miss. Laina   f  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)   f  35.0
5                                     Allen, Mr. William Henry   m  35.0
...                                                        ...  ..   ...
887                                      Montvila, Rev. Juozas   m  27.0
888                               Graham, Miss. Margaret Edith   f  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   f   NaN
890                                      Behr, Mr. Karl Howell   m  26.0
891                                        Dooley, Mr. Patrick   m  32.0

             sibsp  parch            ticket     fare cabin embarked  \
passengerid
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

             BirthYear  Companion
passengerid
1               1874.0        0.0
2               1890.0        NaN
3               1886.0        NaN
4               1877.0        1.0
5               1877.0        NaN
...                ...        ...
887             1885.0        NaN
888             1893.0        0.0
889                NaN        NaN
890             1886.0        0.0
891             1880.0        NaN

[891 rows x 13 columns]

13.Поменяйте местами нулевую по порядку строку с элементом с индексом 1.

In [82]:
df_copy=df_merge_pass.copy()

row_index = 1
row=0

df_merge_pass.iloc[row]=df_copy.loc[row_index].values
df_merge_pass.loc[row_index]=df_copy.iloc[row].values


print(df_merge_pass)

             survived  pclass  \
passengerid
1                   1       1
2                   0       3
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          name sex   age  \
passengerid
1            Cumings, Mrs. John Bradley (Florence Briggs Th...   f  38.0
2                                      Braund, Mr. Owen Harris   m  22.0
3                                       Heikkinen, Miss. Laina   f  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)   f  35.0
5                                     Allen, Mr. William Henry   m  35.0
...                                                        ...  ..   ...
887                                      Montvila, Rev. Juozas   m  27.0
888                               Graham, Miss. Margaret Edith   f  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   f   NaN
890                                      Behr, Mr. Karl Howell   m  26.0
891                                        Dooley, Mr. Patrick   m  32.0

             sibsp  parch            ticket     fare cabin embarked  \
passengerid
1                1      0          PC 17599  71.2833   C85        C
2                1      0         A/5 21171   7.2500   NaN        S
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

             BirthYear  Companion
passengerid
1               1874.0        0.0
2               1890.0        NaN
3               1886.0        NaN
4               1877.0        1.0
5               1877.0        NaN
...                ...        ...
887             1885.0        NaN
888             1893.0        0.0
889                NaN        NaN
890             1886.0        0.0
891             1880.0        NaN

[891 rows x 13 columns]

14.Запишите получившийся датафрейм в csv файл (to_csv).

In [83]:
df_merge_pass.to_csv('result.csv', index=True)

15.Отобразите топ-10 людей, которые больше остальных заплатили за билет.

In [84]:
top10=df_merge_pass.sort_values('fare', ascending=False).head(10)

print(f"{top10.to_string(index=False)}")

 survived  pclass                                            name sex  age  sibsp  parch   ticket     fare           cabin embarked  BirthYear  Companion
        1       1              Cardeza, Mr. Thomas Drake Martinez   m 36.0      0      1 PC 17755 512.3292     B51 B53 B55        C     1876.0        1.0
        1       1                                Ward, Miss. Anna   f 35.0      0      0 PC 17755 512.3292             NaN        C     1877.0        NaN
        1       1                          Lesurer, Mr. Gustave J   m 35.0      0      0 PC 17755 512.3292            B101        C     1877.0        0.0
        1       1                      Fortune, Miss. Mabel Helen   f 23.0      3      2    19950 263.0000     C23 C25 C27        S     1889.0        3.0
        0       1                               Fortune, Mr. Mark   m 64.0      1      4    19950 263.0000     C23 C25 C27        S     1848.0        3.0
        1       1                  Fortune, Miss. Alice Elizabeth   f 24.0      3      2    19950 263.0000     C23 C25 C27        S     1888.0        3.0
        0       1                  Fortune, Mr. Charles Alexander   m 19.0      3      2    19950 263.0000     C23 C25 C27        S     1893.0        3.0
        1       1           Ryerson, Miss. Susan Parker "Suzette"   f 21.0      2      2 PC 17608 262.3750 B57 B59 B63 B66        C     1891.0        1.0
        1       1                      Ryerson, Miss. Emily Borie   f 18.0      2      2 PC 17608 262.3750 B57 B59 B63 B66        C     1894.0        1.0
        1       1 Baxter, Mrs. James (Helene DeLaudeniere Chaput)   f 50.0      0      1 PC 17558 247.5208         B58 B60        C     1862.0        1.0

16.Отобразите сколько женщин и мужчин выжило/не выжило.

In [85]:
survived_counts_on_gender = ps.crosstab(df_merge_pass['sex'], df_merge_pass['survived']).rename(columns={0:'Погибли', 1:"Выжили"})

print(survived_counts_on_gender)

survived  Погибли  Выжили
sex
f              81     233
m             468     109

17.Отобразите сколько в каком классе пассажиров выжило/не выжило.

In [86]:
survived_counts_on_class = ps.crosstab(df_merge_pass['pclass'], df_merge_pass['survived']).rename(columns={0: 'Погибли', 1: 'Выжили'})

print(survived_counts_on_class)

survived  Погибли  Выжили
pclass
1              80     136
2              97      87
3             372     119